/**
* Hojas de estilo de la página Diseñar Polos
*/

.cabecera-diseno {
  background: none;
  height: 75px;
  border-bottom: 1px solid lightgray;
}

.polos {
  display: flex;
  flex-direction: row;
  margin: 100px auto;
  width: 1024px;
}

.capas-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.capas-inner {
  display: flex;
  justify-content: center;
  width: 542px;
  height: 620px;
  background: center center no-repeat url('/images/disenador/t-shirt.png');
  scale: 1;
}
.capas-limits {
  margin-top: 80px;
  width: 320px;
  height: 480px;
  position: relative;
}

.capas-limits .shadow {
  position: absolute;
}

.capas-limits .shadow-image {
  display: flex;
  align-items: center;
}

.capas-limits .shadow img {
  max-width: 100%;
  height: auto;
  object-fit: fill;
  margin-top: auto;
  margin-bottom: auto;
}

.capas-limits ._rectangle_no30z_5,
.capas-limits ._rotateHandler_no30z_22,
.capas-limits ._resizeHandler_no30z_12
 {
  color: gray;
  fill: gray;
}

.capas-limits .capa-actual ._rectangle_no30z_5,
.capas-limits .capa-actual ._rotateHandler_no30z_22,
.capas-limits .capa-actual ._resizeHandler_no30z_12
 {
  color: red;
  fill: red;
}

.capas-aside {
  width: 300px;
}

.opciones-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.opciones-container .accion {
  display: inline-flex;
  width: 80px;
  flex-direction: column;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
.opciones-container .accion button {
  background-color: none;
  border: 0 none;
}
.opciones-container .accion button img {
  width: 100%;
  height: auto;
}

.opciones-container .accion span {
  font-weight: bold;
  font-size: 11px;
}

.capas-ordenables .sortable-container {
  padding: 10px;
  border: 2px solid black;
  border-radius: 6px;
}

.capas-ordenables .sortable-item {
  padding: 5px;
  border: 1px solid black;
  border-radius: 6px;
  list-style: none;
  margin-top: 2px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
}

.capas-ordenables .chosen {
  background-color: lightgoldenrodyellow;
}

.capas-ordenables .sortable-item .title {
  display: flex-item;
  flex: 1;
}

.capas-ordenables .sortable-item .title:hover {
  background-color: rgb(243, 217, 221);
  cursor: move;
}

.capas-ordenables .sortable-item img {
  height: 15px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.modal-galeria .scroll {
  height: 400px;
  overflow-y: auto;
}

.modal-galeria .categoria .imagenes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-auto-rows: auto;
  background-color: lightblue;
}

.modal-galeria .categoria .imagenes .foto {
 text-align: center;
 padding: 20px;
}

.modal-galeria .categoria .imagenes .foto img {
  max-width: 80%;
  height: auto;
}

.modal-galeria .foto-actual {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.modal-galeria .foto-actual button {
  max-height: 40px;
}

.modal button[disabled] {
  background-color: gray;
}

.modal-galeria .foto-actual img {
  margin-top: 10px;
  height: 128px;
  object-fit: cover;
}

.form-layer .form-preview > div {
  margin: 0 auto;
  width: 250px;
  padding: 20px 0;
  border-radius: 6px;
  border: 2px dashed lightcoral;
  align-items: center;
  margin-bottom: 32px;
}

.form-layer .form-layer-contents {
  height: 300px;
  overflow-y: auto;
}
